@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bg-light{
    background-color: #E9EFFA !important;
}

.custom-input{
    background-color: #F6F6F6;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
}

.custom-textarea {
    background-color: #F6F6F6;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
}

.form-control:focus {
    border-color: #D2D2D2 !important;
    box-shadow: none !important;
}

.login-heading{
    font-size: 23px;
    font-weight: 700;
}

.paragraph-sm{
    font-size: 12px;
}

.button-dark{
    background-color: #2D2D2D;
    color: white;
    font-size: 14px;
    border-radius: 10px;
}

.button-dark:hover{
    background-color: #141414;
    color: white;
}

.button-dark-outline{
    background-color: white;
    color: #2D2D2D;
    font-size: 14px;
    border: 1px solid #2D2D2D;
    border-radius: 10px;
}

.button-dark-outline:hover{
    background-color: #2D2D2D;
    color: white;
}

.font-12{
    font-size: 12px;
}

.font-13{
    font-size: 13px;
}

.font-14{
    font-size: 14px;
}

.slider-slogan{
    font-size: 16px;
    font-weight: 600;
    color: #6E7AF7;
}

.slider-title{
    font-size: 53px;
    font-weight: bold;
    color: #000000;
}

.circle-img{
    margin: -70px 100px 0px 0px;
}

.carousel-control-prev-icon {
    background-image: url('../images/prev.png') !important;
}

.carousel-control-next-icon {
    background-image: url('../images/next.png') !important;
}

.price-tag-div{
    transform: translate(-200px, -165px);
    position: absolute;
}

.cat1-div{
    background-image: url('../images/fcat1.png');
    background-size: cover;
    height: 550px;
    border-radius: 5px;
}

.cat2-div{
    background-image: url('../images/fcat2.png');
    background-size: cover;
    height: 245px;
    border-radius: 5px;
}

.cat3-div{
    background-image: url('../images/fcat3.png');
    background-size: cover;
    height: 280px;
    border-radius: 5px;
}

.cat4-div{
    background-image: url('../images/fcat4.png');
    background-size: cover;
    height: 280px;
    border-radius: 5px;
}

.cat-title{
    font-size: 23px;
    font-weight: 600;
}

.cat-title i{
    font-size: 18px;
}

.cat-subtitle{
    font-size: 14px;
    font-weight: 600;
    color: #6E7AF7;
}

.product-discount{
    color: #5CAC32;
}

.brown-bg{
    color: #D78472;
}

.cyan-bg{
    color: #84C3D7;
}

.grey-bg{
    color: #527888;
}

.product-swatches{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    position: absolute;
    transform: translate(-36px, -220px);
}

.product-card .product-image {
    text-align: center;
}

.product-card .product-image img{
    height: 200px;
}

.product-card:hover{
    background-image: linear-gradient(0deg, #6e7af778, #ffffffbe);
}

.hover-actions{
    display: none;
}

.product-card:hover .hover-actions{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translate(-25px, 40px);
}


.quick-view-btn{
    background: white;
    border: none;
    border-radius: 150px;
    padding: 10px;
}

.wishlist-btn{
    background: white;
    border: none;
    border-radius: 150px;
    padding: 10px;
}

.add-to-cart-btn{
    background: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 12px;
}

.banner1 {
    background-image: url(../images/banners/01.png);
    background-size: cover;
    height: 300px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner2 {
    background-image: url('../images/banners/02.png');
    background-size: cover;
    height: 300px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer-div{
    background-color: #fff6d2;
    padding: 80px 0px;
}

.offer-title{
    font-size: 40px;
    font-weight: bold;
    color: #252B42;
}

.offer-discount {
    font-size: 30px;
    font-weight: bold;
    color: #5CAC32;
}

.offer-product-name {
    color: #6E7AF7;
    font-size: 21px;
}

.offer-product-description{
    font-size: 16px;
    color: grey;
}

.offer-counter {
    display: flex;
}

.circle-shape {
    background: #0000001c;
    border-radius: 100px;
    width: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact {
    font-size: 12px;
    font-weight: 600;
}

.bg-light-sm{
    background-color: #fcfcfc;
}

.lSSlideOuter.vertical .lSGallery{
    left: 0;
}

.lSSlideOuter .lightSlider {
    padding-right: 0px !important;
    padding-left: 120px !important;
}

.lSGallery, .lSGallery li{
    height: auto !important;
}

.product-tags {
    display: flex;
}

.tag-light {
    background: rgb(226, 226, 226);
    font-size: 14px !important;
    font-weight: 700;
}

.tag-primary {
    background: #E9EBFE;
    font-size: 14px !important;
    font-weight: 700;
    color: #6E7AF7;
}

.tag-success {
    background: #E7F3E0;
    font-size: 14px !important;
    font-weight: 700;
    color: #5CAC32;
}

.product-detail-title {
    font-size: 25px;
}

.product-actual-price {
    font-size: 20px;
    color: rgb(175, 175, 175);
    text-decoration: line-through;
}

.product-sale-price {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.product-review {
    font-size: 12px;
}

.review-number {
    font-weight: bold;
}

.product-detail-swatches{
    font-size: 24px;
}
  
.product-detail-swatches input[type="radio"] {
    display: none;
}

.product-detail-swatches input[type="radio"]:checked + .color-swatch {
    border: 1px solid rgb(194, 194, 194);
}

.product-detail-swatches label i{
    border: 1px solid rgba(110, 108, 108, 0);
    border-radius: 100px;
    padding: 2px;
}

.product-detail-sizes .btn-group {
    border: 1px solid #ebebeb;
    border-radius: 100px !important;
}

.product-detail-sizes .btn-group label:nth-child(2) {
    border-radius: 100px 0 0 100px;
}

.product-detail-sizes .btn-group label:first-child {
    border-radius: 100px 0 0 100px;
}

.product-detail-sizes .btn-group label:last-child {
    border-radius: 0 100px 100px 0;
}

.product-detail-sizes .custom-label {
    width: 60px;
    background: #f6f8f9;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 14px;
}

.product-detail-sizes .custom-label:hover {
    cursor: pointer;
}

.product-detail-sizes .btn-check:checked + .custom-label {
    background-color: #ebebeb;
}

.qty-input {
    border-radius: 100px 0px 0px 100px;
    text-align: center;
}

.btn-input-dropdown {
    background-color: #E5E9EB;
    border-radius: 0px 100px 100px 0px;
}

.btn-input-dropdown:hover {
    background-color: #d4d4d4 !important;
}

.detail-wishlist-btn{
    background: white;
    border: 1px solid #E5E9EB;
    border-radius: 150px;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.detail-wishlist-btn:hover {
    background: #E5E9EB;
    border: 1px solid #E5E9EB;
}

.star-fill {
    color: #FFCE31;
}

.star-empty {
    color: #E2E4FD;
}

.reviews-progress-bar .progress {
    margin: 0px 0px 15px 0px;
    height: 24px;
}

.reviews-progress-bar .progress-bar {
    background-color: #FFCE31;
}

.progress-info {
    margin: 0px 0px 15px 0px;
    height: 24px;
}

.quickViewSlider .lSSlideOuter {
    padding-right: 00px !important;
}

.shopSidebar .accordion-item {
    border: none !important;
}

.shopSidebar .accordion-button:not(.collapsed) {
    background-color: #cfe2ff00 !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #dee2e600 !important;
}

.shopSidebar .accordion-button:focus {
    box-shadow: none !important;
}

.product-image img {
    object-fit: contain !important;
}


/* price slider  */

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    height: 5px;
    position: relative;
    background: #DFE2FF;
    border-radius: 5px;
  }
  
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #6E7AF7;
  }
  
  .range-input {
    position: relative;
  }
  
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .range-input input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #ffffff;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .range-input input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
/* price slider  */


.side-cart-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 15px;
}

.button-secondary {
    background-color: #2D2D2D;
    color: white;
}

.button-secondary:hover {
    background-color: #1d1d1d;
    color: white;
}

.button-primary {
    background-color: #6E7AF7;
    color: white;
}

.button-primary:hover {
    background-color: #646fe2;
    color: white;
}


.card-detail-items .product-detail-sizes .btn-group {
    border: 1px solid #ebebeb;
    border-radius: 100px !important;
}

.card-detail-items .product-detail-sizes .btn-group label:nth-child(2) {
    border-radius: 100px 0 0 100px;
}

.card-detail-items .product-detail-sizes .btn-group label:first-child {
    border-radius: 100px 0 0 100px;
}

.card-detail-items .product-detail-sizes .btn-group label:last-child {
    border-radius: 0 100px 100px 0;
}

.card-detail-items .product-detail-sizes .custom-label {
    width: 60px;
    background: #f6f8f9;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 14px;
}

.card-detail-items .product-detail-sizes .custom-label:hover {
    cursor: pointer;
}

.card-detail-items .product-detail-sizes .btn-check:checked + .custom-label {
    background-color: #ebebeb;
}

.coupon-input input {
    height: 48px;
    background: #F6F6F6;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
}

.coupon-input input::placeholder {
    font-size: 14px;
    color: #737373;
}

.coupon-input button {
    color: #6E7AF7;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.text-success-light {
    color: #2DC071;
}

.custom-scroll {
    overflow: auto;
    white-space: nowrap;
    cursor: grab;
    user-select: none;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    display: none;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-scroll:active {
    cursor: grabbing;
}

.address-badge {
    align-items: center;
    padding: 2px 6px;
    border: 1px solid #2DC071;
    border-radius: 4px;
    color: #2DC071;
    font-size: 12px;
}


/* simple steps */

  .toggle {
    transform: scale(0.8);
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 140px;
  }
  .toggle span {
    margin: 0 0.5rem;
  }
  .toggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .toggle input[type=checkbox]:checked + label {
    background: #13CB8F;
  }
   .toggle input[type=checkbox]:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
   .toggle label {
    cursor: pointer;
    width: 75px;
    height: 34px;
    background: #D2D3D8;
    display: block;
    border-radius: 40px;
    position: relative;
  }
  .toggle label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 40px;
    transition: 0.3s;
  }
  
  .main-container .steps-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-container .steps-container .step {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    flex-grow: 0;
    height: 25px;
    width: 25px;
    background: #D9D9D9;
    border-radius: 50%;
  }
   .main-container .steps-container .step .preloader, body .main-container .steps-container .step svg {
    display: none;
  }
  .main-container .steps-container .step.completed {
    width: 25px;
    height: 25px;
    background: #6E7AF7;
    border: none;
  }
  .main-container .steps-container .step.completed svg {
    transition: all 200ms ease;
    display: block;
    height: 10px;
    width: 10px;
    fill: #fff;
  }
  .main-container .steps-container .step.in-progress {
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: inset 0 0 0 8px #6E7AF7;
  }
  
  .main-container .steps-container .step .label {
    position: absolute;
    top: 30px;
    filter: none;
    z-index: 2000;
    transition: all 200ms ease;
    font-weight: 600;
  }
  
  
  .main-container .steps-container .step .icon {
    font-size: 40px;
    position: absolute;
    top: -60px;
    color: #D2D3D8;
    transition: color 200ms ease;
  }
  .main-container .steps-container .step .icon.completed {
    color: #5C6174;
  }
  
  .main-container .steps-container .line {
    transition: all 200ms ease;
    height: 1px;
    flex-grow: 1;
    max-width: 100%;
    background: #D9D9D9;
  }
  
/* simple steps */

#track_order_table thead tr:first-child {
    border: 0px solid rgba(0, 128, 0, 0);
}

#track_order_table tbody tr:last-child {
    border: 0px solid rgba(0, 128, 0, 0);
}

.contact-background-image {
    background: url(../images/login_img.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

#accountTab li .nav-link {
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    color: #1C1C1C;
    font-weight: 700;
}

#accountTab li .active {
    padding: 10px 20px;
    background: #6e7af738;
    color: #6E7AF7;
    font-weight: 700;
    border-radius: 5px 5px 0px 0px;
}

#accountTab li .nav-link:hover {
    border: 1px solid rgba(255, 255, 255, 0);
}

#triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 55px solid #f6f6f6;
    border-left: 100px solid transparent;
    transform: translate(55px, -54px);
    border-radius: 5px;
}

#triangle-bottom-right img{
    display: flex;
    transform: translate(-30px, 27px) !important;
}

.success-badge {
    background-color: #5dac3230;
    color: #5CAC32;
    padding: 5px 20px;
    border-radius: 5px;
}

.signin_form {
    padding-top: 200px; 
    padding-right: 300px; 
    padding-left: 100px;
}

.sigin_img {
    transform: translate(140px, 0px); 
    margin-bottom: 100px;
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 140px) { 
    .signin_form {
        padding-top: 100px; 
        padding-right: 70px; 
        padding-left: 70px; 
    }

    .sigin_img {
        transform: translate(0px, 0px); 
        margin-bottom: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .signin_form {
        padding-top: 200px; 
        padding-right: 100px; 
        padding-left: 100px; 
    }

    .sigin_img {
        transform: translate(50px, -80px); 
        margin-bottom: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .signin_form {
        padding-right: 200px; 
    }

    .sigin_img {
        transform: translate(100px, -80px); 
        margin-bottom: 100px;
    }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .signin_form {
        padding-right: 300px; 
    }

    .sigin_img {
        transform: translate(140px, 0px); 
        margin-bottom: 100px;
    }
}